<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="./static/style.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="./static/script.js"></script>

    <meta charset="UTF-8">
    <title>Show Me The Price</title>
</head>
<body>
<nav>
    <div class="nav-wrapper blue center-nav">
        <a href="/" class="brand-logo">Show Me The Price</a>
    </div>
</nav>
<div class="divider"></div>
<div class="valign-wrapper" style="width:100%;height:80%;position: absolute;">
    <div class="valign" style="width:100%;">
    <div class="section">
        <div class="container">
            <span class="center"><p>Key in some details to subscribe</p></span>
            <form action="/subscribe" method="post">
                <div class="row">
                    <div class="col s12">
                        <input id="email" name="email" type="email" class="validate" placeholder="youremail@domain.com">
                        <span class="center"><label for="email">Email</label></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12">
                        <div class="chips chips-autocomplete">
                        </div>
                        <input type="hidden" name="sn" id="sn" value="">
                        <span class="center"><label for="sn">Name your shoe</label></span>
                    </div>

                </div>
                <div class="row">
                    <span><label for="ss">Select Shoe Size</label></span>
                    <div class="input-field col s4">
                        <select name="ss" required>
                            <option value="5" selected>5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                    <div></div>
                    <div id="sg" class="input-field col s4">
                        <div name="sg" class="switch center">
                            <label>
                                Male
                                <input id="sg" name="sg" type="checkbox">
                                <span class="lever"></span>
                                Female
                            </label>
                        </div>
                    </div>
                    <label for="su">Weekly Updates</label>
                    <div id="su" class="input-field col s4">
                        <div name="su" class="switch">
                            <label>
                                No
                                <input id="su" name="su" type="checkbox">
                                <span class="lever"></span>
                                Yes
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" class="button">Submit</button>
                </div>
            </form>
        </div>
    </div>
        <div class="divider"></div>
{#    <div class="section">#}
{#        <div class="container">#}
{#            <form action="index.html">#}
{#                {% for i in range(4) %}#}
{#                    <div class="row">#}
{#                        {% for j in range(4) %}#}
{#                            <div class="col s3">#}
{#                                <div class="card horizontal">#}
{#                                    <div class="card-image">#}
{#                                        <img src="https://lorempixel.com/100/190/nature/6">#}
{#                                    </div>#}
{#                                    <div class="card-stacked">#}
{#                                        <div class="card-content">#}
{#                                            <input type="checkbox" id="{% print(i+j) %}"/>#}
{#                                            <label for="{% print(i+j) %}">Item {% print(i+j) %}</label>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        {% endfor %}#}
{#                    </div>#}
{#                {% endfor %}#}
{#            </form>#}
{#        </div>#}
{#    </div>#}

    </div>
</div>


</body>
</html>